
.icon-hammer:before { content: '\e800'; } /* '' */
.icon-down-open-big:before { content: '\e801'; } /* '' */
.icon-basket:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-torso:before { content: '\e804'; } /* '' */
.icon-plus:before { content: '\e805'; } /* '' */
.icon-youtube:before { content: '\e806'; } /* '' */
.icon-star:before { content: '\e807'; } /* '' */
.icon-star-empty:before { content: '\e808'; } /* '' */
.icon-left-open-big:before { content: '\e809'; } /* '' */
.icon-right-open-big:before { content: '\e80a'; } /* '' */
.icon-up-open-big:before { content: '\e80b'; } /* '' */
.icon-heart:before { content: '\e80c'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-reddit-alien:before { content: '\f281'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */